@model IEnumerable<HardcoreHistoryBlog.ViewModels.UserRolesViewModel>


<h3>Assign a new role</h3>

<table class="table table-bordered table-hover">
    <tr>
        <th class="d-sm-table-cell">
            User
        </th>
        <th class="d-sm-table-cell">
            Role
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Rolename)
            </td>
            <td class="d-sm-table-cell">
                <a asp-action="Remove" asp-route-id="@item.Id">Remove from Role</a>
            </td>
        </tr>
    }
</table>
