@model IEnumerable<HardcoreHistoryBlog.ViewModels.AnalyticsViewModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                Commment Count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a  asp-action="UserDetails" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.Username)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfComments)
            </td>
        </tr>
}
    </tbody>
</table>
