@using HardcoreHistoryBlog.Data
@model IEnumerable<HardcoreHistoryBlog.ViewModels.AnalyticsViewModel>


<h2>Comments by Post</h2>


<table class="table table-bordered table-hover">
    <tr>
        <th class="d-sm-table-cell">
            User
        </th>
        <th class="d-sm-table-cell">
            Number of Comments
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td class="d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.NumberOfComments)
            </td>
        </tr>
    }
</table>
<div>
    <a asp-action="Index">Back to Panel</a>
</div>
