@{
    ViewBag.Title = "Home";
}

<link href="~/Trumbowyg-master/Trumbowyg-master/docs/css/full.css" rel="stylesheet" />

<body>
    <div class="container-fluid">
        <header>
            <div id="
                 
                 " class="carousel slide" data-ride="carousel" data-interval="4000">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div class="carousel-item active" style="background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiS2O_U8cffAhVvxYUKHc9UCQkQjRx6BAgBEAU&url=https%3A%2F%2Faustraliantvstuff.weebly.com%2Fseven-network.html&psig=AOvVaw1M81dyeNGFD4XSdXUai1Cq&ust=1546270776902830')">
                        <div class="card-body">
                            <div class="card-deck">
                                <h1 style="color: whitesmoke"><a asp-controller="Posts" asp-action="Index" style="color:whitesmoke">Learn about History, the Hardcore way!
                                <small>Click here to see the latest posts!</small></a></h1>
                            </div>
                        </div>                            
                    </div>
                    <!-- Slide Two - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiS2O_U8cffAhVvxYUKHc9UCQkQjRx6BAgBEAU&url=https%3A%2F%2Faustraliantvstuff.weebly.com%2Fseven-network.html&psig=AOvVaw1M81dyeNGFD4XSdXUai1Cq&ust=1546270776902830')">
                        <div class="carousel-caption d-none d-md-block">
                            <h1><a asp-controller="Posts" asp-action="Index" style="color:whitesmoke"> See what became of those who dared revolt against the Assyrians.</a></h1>
                        </div>
                    </div>
                    <!-- Slide Three - Set the background image for this slide in the line below -->
                    <div class="carousel-item" style="background-image: url('https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiS2O_U8cffAhVvxYUKHc9UCQkQjRx6BAgBEAU&url=https%3A%2F%2Faustraliantvstuff.weebly.com%2Fseven-network.html&psig=AOvVaw1M81dyeNGFD4XSdXUai1Cq&ust=1546270776902830')">
                        <div class="carousel-caption d-none d-md-block">
                            <h1><a asp-controller="Posts" asp-action="Index" style="color:whitesmoke">If you think the Assyrians were not <b>Hardcore</b> enough, read about the Mongols!</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
