<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HardcoreHistory Blog</title>

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/css/full-slider.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/carousel.css" rel="stylesheet" />

</head>


<body style="padding-top: 70px;">
    <div class="container-fluid">

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark fixed-top bg-dark" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/H.png" width="30" height="30" alt="" />
                        Hardcore History
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>

                    </button>

                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav mr-auto">

                        <li class="nav-item">
                            <a class="nav-link scroll-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Medieval History">Medieval History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Ancient History">Ancient History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll-link" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Modern History">Modern History</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link scroll-link" asp-area="" asp-controller="Panel" asp-action="Index">Admin</a>
                            </li>
                        }
                        <ul class="navbar-right">
                            <li class="navbar-right">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>

                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Hardcore History Blog</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/Content/vendor/bootstrap/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>



        @RenderSection("scripts", required: false)
        <script src="~/startbootstrap-full-slider-gh-pages/vendor/jquery/jquery.js"></script>
        <script src="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="~/Trumbowyg-master/Trumbowyg-master/dist/trumbowyg.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

    </div>
</body>
</html>

