<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - HardcoreHistory Blog</title>

    <link href="~/startbootstrap-full-slider-gh-pages/css/full-slider.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/startbootstrap-full-slider-gh-pages/css/full-slider.css" rel="stylesheet" />


    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/carousel.css" rel="stylesheet" />

</head>


<body style="padding-top: 50px; width: 80%; margin: 0 auto;">

    <nav class="navbar fixed-top  navbar-expand-sm navbar-dark justify-content-between py-0" style="background-color: #251B50;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--Brand-->
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/H.png" width="30" height="30" alt="" />
                Hardcore History
            </a>

            <!--Tabs-->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link py-0" asp-area="" asp-controller="Posts" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item dropdown py-0">
                        <a class="nav-link dropdown-toggle py-0" href="#" id="navbarDropdownMenuLink py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu py-0" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item py-0" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Medieval History">Medieval History</a>
                            <a class="dropdown-item py-0" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Ancient History">Ancient History</a>
                            <a class="dropdown-item py-0" asp-area="" asp-controller="Posts" asp-action="Index" asp-route-category="Modern History">Modern History</a>
                        </div>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link py-0" asp-area="" asp-controller="Panel" asp-action="Index">Admin</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav py-0">
                    <li class="nav-item py-0">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>



    @RenderSection("scripts", required: false)
    <script src="~/startbootstrap-full-slider-gh-pages/vendor/jquery/jquery.js"></script>
    <script src="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/startbootstrap-full-slider-gh-pages/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>


    @RenderBody()
    <div class="container">
        <footer class="footer">

            <span class="text-muted">&copy; @DateTime.Now.Year - Hardcore History Blog</span>
        </footer>
    </div>


</body>
</html>

